:host {
  .main-image-container {
    max-height: 500px;
  }
  .btn-container {
    margin-top: 1em;
    display: flex;
    justify-content: center;
  }

  .main-image {
    height: 300px;
  }

  .main-image-container {
    max-width: 100%
  }

  .cropped-image {
    height: 80px;
    background: radial-gradient(black, transparent);
  }

  .zoom-full {
    border: 1px solid red;
  }
}

//::ng-deep {
//  .zoom-full {
//    border: red;
//  }
//}
