<div *ngIf="!isWebcamView; else webcam">
  <input style="display: none" accept="image/*" type="file" (change)="uploadFileHandle($event)" #fileInput>
  <div class="btn-container">
    <button (click)="fileInput.click()" class="btn">Upload image</button>
    <button (click)="showWebcamView()" class="btn">Make a photo</button>
  </div>

</div>

<ng-template #webcam>
  <div class="wrapper">
    <webcam [height]="300" [width]="300" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="isWebcamView" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
      [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>
      <div class="btn-container">
        <button  class="btn" (click)="triggerSnapshot()">I'm ready</button>
        <button  class="btn" (click)="goBackButtonClick()">Go back</button>
      </div>
  </div>
</ng-template>
