@import "../../../../../styles/variables";

:host {
  .btn-container {
    width: 20em;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
  }

  .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    height: 35px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid $color;
    color: $color;
    transition: all 0.25s ease;
    cursor: pointer;
    text-transform: uppercase;
    font: {
      size: 11px;
      weight: bold;
    }

    mat-icon {
      position: absolute;
      left: 7px;
    }

    &:focus,
    &:hover {
      background: $color;
      outline: none;
      color: #fff;
    }
  }

  .wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}

::ng-deep {
  .webcam-wrapper {
    border: 2px solid $color;
  }

  .mat-dialog-container {
    overflow: hidden;
  }
}
