:host {
  .mat-dialog-actions, .button-container {
    display: flex;
    justify-content: center;
  }

  button {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: -1.7em;
    top: -8em;
    transition: .15s ease-in-out;
    cursor: pointer;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

}
