<div *ngIf="isDialogListView">
  <button mat-icon-button class="back-btn" (click)="goBackHandle()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <div *ngFor="let dialog of accountDialogsList" class="dialog-item" (click)="dialogItemClickHandle(dialog.lowerIdHigherId)">
    <img class="user-avatar" [src]="dialog.interlocutorAvatar"/>
    <span>{{ dialog.lastActivity | timeAgo }}</span>
  </div>
</div>

<app-messages *ngIf="isMessagesView" [userAvatar]="userAvatar" [recipientId]="currentAccountId" [goBackHandle]="goBackToMessagesList"></app-messages>
