<h1 mat-dialog-title class="text-center">Update avatar</h1>
<div mat-dialog-content>
  <app-stepper #updateAvatarStepper [config]="updateAvatarStepperConfig"></app-stepper>
<!--  <div class="main-image-container">-->
<!--    <img class="main-image" #image [src]="data.base64String" crossorigin>-->
<!--  </div>-->
<!--  <img [src]="croppedImageSrc" #croppedImageRef class="cropped-image">-->
<!--  <button  mat-button color="primary" (click)="zoomToFull()">Zoom to 100%</button>-->
<!--  <button  mat-button color="primary" (click)="reset()">Reset</button>-->
<!--</div>-->
<!--<div class="button-container">-->
  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
<!--    <button mat-button (click)="save()">Save</button>-->
  </div>
</div>
