:host {
  .main-image {
    height: 300px;
  }

  .main-image-container {
    max-width: 100%
  }

  .cropped-image {
    height: 80px;
    background: radial-gradient(black, transparent);
  }
}
.text-center {
  text-align: center;
}
.mat-dialog-actions {
  justify-content: center;
}
.cropped-image {
  display: none;
}
