<mat-tab-group headerPosition="below" (selectedTabChange)="onLinkClick($event)">
  <mat-tab label="Feed">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">home</mat-icon>
    </ng-template>
    <app-feed-tab #feedTab></app-feed-tab>
  </mat-tab>
  <mat-tab label="Personal">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">person</mat-icon>
    </ng-template>
    <app-account-details [isLoggedUser]="true"></app-account-details>
  </mat-tab>
</mat-tab-group>

