:host {
  img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  .spinner {
    position: absolute;
    top: 0;
    left: 50%;
  }
}
.username {
  font-size: 20px;
  font-family: Courier New;
  margin: 1em;
}
