<mat-tab-group
  mat-stretch-tabs
  headerPosition="below"
  (selectedTabChange)="onLinkClick($event)"
  #tabs
>
  <mat-tab label="Feed">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">home</mat-icon>
    </ng-template>
    <app-feed-tab #feedTab></app-feed-tab>
  </mat-tab>
  <mat-tab label="Personal">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">search</mat-icon>
    </ng-template>
    <app-search></app-search>
  </mat-tab>
  <mat-tab label="Personal">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">add</mat-icon>
    </ng-template>
    <app-add-post [navigateToFeed]="navigateToFeed"></app-add-post>
  </mat-tab>
  <mat-tab label="Personal">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">person</mat-icon>
    </ng-template>
    <app-account-details [isLoggedUser]="true" [isFromMainFeed]="false"></app-account-details>
  </mat-tab>
</mat-tab-group>
