<button *ngIf="isFromAccountDetails" mat-icon-button class="back-button" (click)="backClick()"><mat-icon>arrow_back_ios</mat-icon></button>
<mat-grid-list class="preview-container" cols="1" rowHeight="400px">
  <div *ngFor="let post of posts">
    <mat-grid-tile>
      <mat-card class="post" [id]="'_' + post['_id']">
        <mat-card-header>
          <div mat-card-avatar class="post-avatar">
            <img class="post-avatar-image" [src]="post.postAuthorAvatar">
          </div>
          <mat-card-title (click)="loginClick(post['postAuthorId'])">@{{post.postAuthorLogin}}</mat-card-title>
          <!--        location-->
          <!--        <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
        </mat-card-header>
        <img mat-card-image class="post-image" [src]="post.image" alt="">
        <mat-card-content>
          <p>{{post.postText}}</p>
        </mat-card-content>
        <mat-card-actions>
          <span *ngIf="post.likedBy.length">Liked by {{post.likedBy.length}}</span>
<!--          <ng-template #noLikes><span>No one likes this post :(</span></ng-template>-->
          <button mat-icon-button *ngIf="!post.isLikedByLoggedUser" (click)="likeButtonClickHandle(post['_id'])">
            <mat-icon>favorite_border</mat-icon>
          </button>

          <button mat-icon-button color="warn" *ngIf="post.isLikedByLoggedUser" (click)="unlikeButtonClickHandle(post['_id'])">
            <mat-icon>favorite</mat-icon>
          </button>

          <button mat-icon-button>
            <mat-icon>share</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>
