<button
  *ngIf="isFromAccountDetails"
  mat-icon-button
  class="back-button"
  (click)="backButtonClick()"
>
<mat-icon>arrow_back_ios</mat-icon></button>
<div *ngIf="posts">
  <mat-grid-list *ngIf="isFeedView" class="preview-container" cols="1" rowHeight="450px">
    <div *ngFor="let post of posts">
      <mat-grid-tile>
        <mat-card class="post" [id]="'_' + post._id">
          <mat-card-header>
            <div mat-card-avatar class="post-avatar">
              <img class="post-avatar-image" [src]="post.postAuthorAvatar">
            </div>
            <mat-card-title (click)="loginClick(post.postAuthorId)">@{{post.postAuthorLogin}}</mat-card-title>
            <!--        location-->
            <!--        <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <img mat-card-image class="post-image" [src]="post.image" alt="">
          <mat-card-content>
            <p>{{post.postText}}</p>
          </mat-card-content>
          <mat-card-actions>
            <div class="post-buttons">
              <div class="like-post-button">
                <button
                  mat-icon-button
                  *ngIf="!post.isLikedByLoggedUser"
                  (click)="likeButtonClickHandle(post)"
                >
                  <mat-icon>favorite_border</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="warn"
                  *ngIf="post.isLikedByLoggedUser"
                  (click)="unlikeButtonClickHandle(post)"
                >
                  <mat-icon>favorite</mat-icon>
                </button>
                <span
                  class="post-likes-counter"
                  *ngIf="post.likedBy.length"
                  (click)="likesCounterClick(post.likedBy)">{{post.likedBy.length}} likes
              </span>
              </div>
              <div class="show-comments-button">
                <button class="show-all-comments-button" mat-icon-button (click)="showCommentsClick(post.comments, post._id, post.postAuthorId)">
                  <mat-icon>chat_bubble_outline</mat-icon>
                </button>
                <span
                  class="post-comments-counter"
                  *ngIf="post.comments.length"
                  (click)="showCommentsClick(post.comments, post._id, post.postAuthorId)"
                >
                  {{post.comments.length}} comments
                </span>
              </div>
            </div>
            <div class="add-comment-section">
              <img class="add-comment-user-avatar" [src]="homeService.userAvatar" />
              <textarea
                #commentText
                [disabled]="post.isAddCommentInProgress"
                class="add-comment-input"
                matInput rows="1"
                placeholder="Add comment"
              ></textarea>
              <button
                [disabled]="post.isAddCommentInProgress || !commentText.value"
                mat-icon-button
                (click)="addCommentButtonClick(post, commentText)"
              >
                <mat-icon *ngIf="!post.isAddCommentInProgress">add</mat-icon>
                <mat-spinner *ngIf="post.isAddCommentInProgress" diameter="20"></mat-spinner>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>

<app-comments-list *ngIf="isCommentsView" [commentsViewState]="commentsViewState" [goBackHandle]="backToFeedView"></app-comments-list>

<div *ngIf="isLikesView">
  <app-likes-list [likedBy]="likesViewState" [goBackHandle]="backToFeedView"></app-likes-list>
</div>
