<div *ngIf="isCommentsListView">
  <button mat-icon-button class="back-btn" (click)="goBack()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <div *ngFor="let comment of commentsList" class="comment">
    <img class="comment-author-avatar" [src]="comment.commentAuthorAvatar">
    <div class="col">
      <span
        class="comment-author-login"
        (click)="showAccountDetails(comment.commentAuthorId)"
      >
        @{{comment.commentAuthorLogin}}
      </span>
      <span class="comment-text">{{comment.text}}</span>
      <small>{{comment.commentDate | timeAgo}}</small>
      <div class="comment-like-button">
        <button
          mat-icon-button
          *ngIf="!comment.isLikedByLoggedUser"
          (click)="likeButtonClickHandle(comment)"
        >
          <mat-icon>favorite_border</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          *ngIf="comment.isLikedByLoggedUser"
          (click)="unlikeButtonClickHandle(comment)"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <span
          class="comment-likes-counter"
          *ngIf="comment.likedBy.length"
          (click)="likesCounterClick(comment.likedBy)">{{comment.likedBy.length}} likes
                </span>
    </div>

    </div>
  </div>
  <div class="add-comment-section">
    <img class="add-comment-user-avatar" [src]="homeService.userAvatar" />
    <textarea
      #commentText
      [disabled]="isAddCommentInProgress"
      class="add-comment-input"
      matInput rows="1"
      placeholder="Add comment"
    ></textarea>
    <button
      [disabled]="isAddCommentInProgress || !commentText.value"
      mat-icon-button
      (click)="addCommentButtonClick(commentText)"
    >
      <mat-icon *ngIf="!isAddCommentInProgress">add</mat-icon>
      <mat-spinner *ngIf="isAddCommentInProgress" diameter="20"></mat-spinner>
    </button>
  </div>

</div>

<app-account-details
  *ngIf="!isCommentsListView && accountDetailsState"
  [accountId]="accountDetailsState"
  [isBackButtonDisplay]="true"
  [goBackHandle]="goBackToCommentsList"
>
</app-account-details>

<div *ngIf="isLikesView">
  <app-likes-list [likedBy]="likesViewState" [goBackHandle]="goBackToCommentsList"></app-likes-list>
</div>
