<div *ngIf="isMessagesView">
  <button (click)="goBackHandle()">go bakc</button>
  <div *ngIf="messagesCollection.length">
    <div *ngFor="let message of messagesCollection">
      <div [class]="message.isFromLoggedUser ? 'message-from-logged-user' : 'message-from-unlogged-user'">
        <img [src]="message.messageSenderAvatar" (click)="showAccountDetails(message.sender)">
        <span>{{ message.text }}</span>
      </div>
    </div>
  </div>
  <textarea #textArea placeholder="rtsf"></textarea>
  <button (click)="sendMessage(textArea.value)">Send</button>
</div>

<app-account-details
  *ngIf="accountDetailsState"
  [accountId]="accountDetailsState"
  [isBackButtonDisplay]="true"
  [goBackHandle]="goBackToMessagesView"
>
</app-account-details>
