<div class="container">
  <div *ngIf="signInView; else signUp">
    <mat-error *ngIf="isAuthFailed">Auth failed</mat-error>
    <form
      [formGroup]="signInForm"
      class="login-form"
    >
      <mat-form-field>
        <input matInput placeholder="email" [formControl]="signInEmail" />
        <mat-error *ngIf="signInEmail.invalid">Type the proper email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="password" type="password" [formControl]="signInPassword" />
        <mat-error *ngIf="signInPassword.invalid">The password is required</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="submitSignInForm()">Sign in</button>
    </form>
  </div>

  <ng-template #signUp>
    <div>
      <mat-error *ngIf="isRegisterFailed">Register failed</mat-error>
      <form
        [formGroup]="signUpForm"
        class="login-form"
      >
        <mat-form-field>
          <input matInput placeholder="login" [formControl]="signUpLogin" />
          <mat-error *ngIf="signUpLogin.invalid">Login should be at least 5 non-character symbols</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="email" [formControl]="signUpEmail" />
          <mat-error *ngIf="signUpEmail.invalid">Type the proper email</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="password" type="password" [formControl]="signUpPassword" />
          <mat-error *ngIf="signUpPassword.invalid">Password should be at least 5 symbols</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="confirm password" type="password" [formControl]="signUpConfirmPassword" />
          <mat-error *ngIf="signUpConfirmPassword.invalid">Passwords don't match!</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitSignUpForm()">Sign up</button>
      </form>
    </div>
  </ng-template>
  <button mat-raised-button color="primary" (click)="viewToggle()">Go to {{signInView ? 'Sign up' : 'Sign in'}}</button>
</div>
