@import "../../../../styles/variables";

:host {
  .search-form-wrapper {
    width: 200px;
    margin: 13em auto;
    position: relative;
  }

  .search-icon {
    cursor: pointer;
    color: rgba(0,0,0,.4);
    z-index: 2;
    position: absolute;
    right: 1.2em;
    top: 0.3em;
  }
}

::ng-deep {
  *:focus {
    outline: none;
  }

  .mat-select-panel .mat-option:not(:first-child) {
    height: 5em !important;
  }

  .mat-option-text {
    display: flex!important;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .user-avatar {
    border-radius: 50%;
    height: 60px;
    margin-right: 1em;
  }
  .search-form{
    .mat-form-field-label-wrapper {
      left: 10px!important;
    }

    .mat-select-arrow {
      display: none;
    }

    .mat-form-field-infix {
      padding: 0.5em;
      border: 2px solid $color;
      border-radius: 10px;
      transition: all 0.25s ease;
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-select-arrow {
      color: $color;
    }
  }
}
