@import "../../../../styles/variables";

:host {
  .search-form-wrapper {
    width: 200px;
    margin: 13em auto;
    position: relative;
  }

  .wrapper {
    height: 100%;
    background: linear-gradient(15deg, #c85bde 30%, rgba(252, 204, 69, 0.7) 100%);
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
  }

  .search-icon {
    cursor: pointer;
    color: rgba(0,0,0,.4);
    z-index: 2;
    position: absolute;
    right: 1.2em;
    top: 0.2em;
  }
}

::ng-deep {
  *:focus {
    outline: none;
  }

  .mat-select-panel .mat-option:not(:first-child) {
    height: 5em !important;
  }

  .mat-option-text {
    display: flex!important;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .user-avatar {
    border-radius: 50%;
    height: 60px;
    margin-right: 1em;
  }

  .mat-form-field-label-wrapper {
    left: 10px!important;
  }

  .mat-select-arrow {
    display: none;
  }

  .mat-form-field-infix {
    padding: 0.5em;
    border-top: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 24px -10px rgba(0, 0, 0, 0.55);
    transition: all 0.25s ease;
    &:focus,
    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }
  }

  .mat-form-field-underline {
    width: 94%!important;
    left: 6px;
    background-color: $color;
  }

  .mat-select-arrow {
    color: $color;
  }
}
