@import "../../../../styles/variables";

:host {
  .upload-avatar {
    position: relative;

    .upload-avatar-btn {
      color: rgba(255, 255, 255, 0.5);
      position: absolute;
      left: -1.3em;
      top: -8em;
      transition: 0.15s ease-in-out;
      cursor: pointer;

      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .user-avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 0;
    cursor: pointer;
    box-shadow: 0 10px 24px -10px rgba(0, 0, 0, 0.55);
  }

  .preview-container {
    width: 50%;
  }

  .preview-image {
    height: 100%;
  }

  .mat-grid-tile {
    cursor: pointer;
  }

  .settings {
    position: absolute;
    top: 2em;
    left: 3em;
    opacity: 0.8;
    color: rgb(255, 255, 255);
    transition: 0.25s ease;
    &:focus,
    &:hover {
      opacity: 1;
    }
  }

  .message {
    position: absolute;
    top: 2em;
    right: 3em;
    opacity: 0.8;
    color: rgb(255, 255, 255);
    transition: 0.25s ease;
    &:focus,
    &:hover {
      opacity: 1;
    }
  }

  h4 {
    cursor: default;
    color: #fff;
    font-size: 20px;
    margin: 1em;
  }

  .publications {
    margin-bottom: 2em;
    color: $color;
  }

  mat-card {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-info {
    padding-bottom: 2em;
    background: linear-gradient(15deg, $color 30%, rgba(252,204,69,0.7) 100%);
  }

  .back {
    position: absolute;
    top: 2em;
    left: 3em;
    color: white;
    z-index: 2;
  }

  .buttons-wrapper {
    width: 16em;
    justify-content: space-between;
    display: flex;
  }

  .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    height: 35px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.25s ease;
    cursor: pointer;
    text-transform: uppercase;
    font: {
      size: 11px;
      weight: bold;
    }

    &:focus,
    &:hover {
      background: #fff;
      outline: none;
      color: $color;
    }
  }

  .follow-unfollow {
    mat-icon {
      position: absolute;
      left: 8px;
    }

    .mat-spinner circle,
    ::ng-deep .mat-progress-spinner circle {
      stroke: $color;
    }
  }

}

::ng-deep {
  .mat-card-title {
    cursor: pointer;
  }
}
