@import "../../../../styles/variables";

:host {
  .user-avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 0;
    cursor: pointer;
    box-shadow: 0px 10px 24px -10px rgba(0, 0, 0, 0.55);
  }

  .preview-container {
    width: 50%;
  }

  .preview-image {
    height: 100%;
  }

  .mat-grid-tile {
    cursor: pointer;
  }

  .settings {
    position: absolute;
    top: 2em;
    right: 3em;
    color: rgb(255, 255, 255);
  }

  h4 {
    cursor: default;
    color: #fff;
    font-size: 20px;
    margin: 1em;
  }

  .publications {
    margin-bottom: 2em;
    color: $color;
  }

  app-upload-image {
    position: relative;
  }

  mat-card {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-info {
    background: linear-gradient(15deg, $color 30%, rgba(252,204,69,0.7287289915966386) 100%);
  }

  .back {
    position: absolute;
    top: 2em;
    left: 3em;
    color: white;
    z-index: 2;
  }

  .btn-follow-unfollow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    height: 35px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.25s ease;
    cursor: pointer;
    text-transform: uppercase;
    font: {
      size: 11px;
      weight: bold;
    }
    mat-icon {
      position: absolute;
      left: 7px;
    }
    &:focus,
    &:hover {
      background: #fff;
      outline: none;
      color: $color;
    }
    ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
        stroke: $color;
    }
  }
}

::ng-deep .mat-card-title {
  cursor: pointer;
}
